*{margin: 0px;}
body{
    background-color: #f3f3f3;
}
.navbar-theme{
    background-color: #fff;
    color: gray: ;
}
.navbar-theme a{
    color: #333;
    /*background-color: #fff;*/
}
.navbar-theme .navbar-brand img{
    float:left;
    margin-right: 5px;
}
.navbar-theme .navbar-brand span{
    color: lightgreen;
}
.navbar-theme ul.dropdown-menu li a:hover{
    color: #fff;
    background-color: #1bad7d;
}
.navbar-theme ul.dropdown-menu>li>a{
    color: gray;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #fff;
    border-color: #337ab7;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
}
.m-r-5{
    margin-right: 5px;
}
.m-l-5{
    margin-left: 5px;
}
.m-b-5{
    margin-bottom: 5px;
}
.m-t-5{
    margin-top: 5px;
}
.m-r-10{
    margin-right: 10px;
}
.m-l-10{
    margin-left: 10px;
}
.m-b-10{
    margin-bottom: 10px;
}
.m-t-10{
    margin-top: 10px;
}
.p-r-5{
    padding-right: 5px;
}
.p-l-5{
    padding-left: 5px;
}
.p-b-5{
    padding-bottom: 5px;
}
.p-t-5{
    padding-top: 5px;
}
.p-r-10{
    padding-right: 10px;
}
.p-l-10{
    padding-left: 10px;
}
.p-b-10{
    padding-bottom: 10px;
}
.p-t-10{
    padding-top: 10px;
}
.img-circle{
    border: 1px solid #dadada;
}
.footer{
    background-color: #1bad7d !important;
    padding: 20px 0;
    margin-top: 20px;
}
.footer ul>li,
.footer a,
.footer p{
    color: #fff;
}
.img-hover-shadow:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.item-index{
    max-width: 75px;
    float: left;
    margin-right: 10px;
    min-height: 160px;
}
.more-item{
    width: 75px;
    float: left;
    margin-right: 10px;
    height: 75px;
    background-color: #c4cde0;
    border: 1px solid lightgray;
}
.more-item i{
    font-size: 20px;
    margin: 25px 28px;
    color: #fff;
}
.element-center{
    margin: 0 auto;
}
.img-horoscope{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}
.title-item{
    color:#fff;
    padding: 3px 5px;
}
.list-title-category{
    padding: 5px;
}
.list-title-category > li{
    margin:0 10px 0 0px;padding:0;
}
.list-title-category > li > a{
    padding: 2px 5px;
    color: #484848;
    border: 1px solid #C9C9C9;
}
.list-title-category > li > a > label{
    cursor: pointer;
}
/*@media screen and (min-width: 992px) {
    .list-dropdown li a{
        color: gray !important;
        background-color: #fff !important;
    }
    .list-dropdown li a:hover{
        color: #fff !important;
        background-color: #614379 !important;
    }
}*/